.sign-in-form{
    margin: 0 auto;
    background-color: pink;
    height: 200px;
    width: 400px;
    text-align: center;

    &__input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.label{
color: black;
font-size: 20px;
// padding: 10px;
display: block;
}

.submitButton-signIn{
color: rgb(250, 246, 246);
background-color:rgb(110, 3, 3);
border-radius: 10px;
font-size: 30px;
font-family: cursive;
margin: 20px;
}